.alert-warning{
    background: #ffcc80   ;
    border-left: 8px solid #ffa502;
}

.alert-warning-position{
    position: absolute;
    right: 0px;
    top: 10px;
}

.alert .close-btn-warning{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn-warning:hover{
    background-color: #ffc766;
}

.close-btn-warning .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.alert .circle-warning{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px; 
 }